In [4]:
# shiva
## shiva
### shiva

# shiva

## shiva

### shiva

* *shiva*

* **shiva**

* ***shiva***

![shiva](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRfvqjaaSseNDZ2jlEszLJDW6UYzgB0qhS-vTsTwox6fQ7i4P1T)

! [SHIVA](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRfvqjaaSseNDZ2jlEszLJDW6UYzgB0qhS-vTsTwox6fQ7i4P1T)

![SHIVA](https://timesofindia.indiatimes.com/thumb/msid-71721009,width-800,height-600,resizemode-4/71721009.jpg)

In [7]:
print("hi")

hi

In [8]:
print("hw r u")

hw r u

In [9]:
print("")

In [11]:
print("hello",end="how")
print("good mrng")

hellohowgood mrng

In [13]:
a = 10

In [14]:
a = "python"
b = "c"
type (a)

str

In [19]:
a = 10
b = "shiva"
type (a)

int

In [23]:
name = "shiva"
age = "20"
print (name,age)

shiva 20

In [21]:
a = 10,5
type (a)

tuple

In [22]:
a = 10.5
type (a)

float

In [24]:
a = b = c = 10
print(id(a))

265476480

In [25]:
name = "shiva"
age = "20"
print ("my name is",name,"age is",age)

my name is shiva age is 20

In [26]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a*b
print(c)

enter a number12
enter a number2
24

In [28]:
d = float(input("enter a number"))
print(d)

enter a number1000
1000.0

In [31]:
a = True
type(a)

bool

In [32]:
a = 0
type(a)

int

In [33]:
a>b
type

type

In [34]:
a>b

False

In [35]:
a<b

True

In [41]:
i = 100
s1 = str(i)
print(s1)
type(s1)

100

str

In [ ]:
i